<div class="container">
  <h1>Softball Tournament</h1>
  <!-- <p>(From app component root)</p> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['players']" routerLinkActive="active"> Manage Players </a> |
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['games']" routerLinkActive="active"> Manage Player Status </a>
      </li>
    </ul>


  </nav>
  <router-outlet></router-outlet>
</div>
