<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Softball Team</h1>
    <p class="lead">Manage your mediocre softball team!</p>
  </div>
</div>
<div class="container">

  <!-- <p>(From app component root)</p> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['players']" routerLinkActive="active"> Manage Players </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['games']" routerLinkActive="active"> Manage Player Status </a>
      </li>
    </ul>


  </nav>
  <router-outlet></router-outlet>
</div>
