<div class="container">


  <!-- <p>(from listplayers component)</p> -->
  <h5 *ngIf="players.length <= 0">Please add a player </h5>

  <table *ngIf="players.length > 0">

    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let player of players">
        <td class="col-2">{{ player.name }}</td>
        <td class="col-2">{{ player.position }}</td>
        <td class="col-2">
          <button type="button" (click)="deletePlayer(player)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



</div>
