<div class="container top">


  <!-- <p>(from listplayers component)</p> -->
  <h5 *ngIf="players.length <= 0">Please add a player </h5>

  <table *ngIf="players.length > 0" class="table table-hover">

    <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let player of players">
        <td class="col-2">{{ player.name | titleize}}</td>
        <td class="col-2">{{ player.position | titleize}}</td>
        <td class="col-2">
          <button class="btn btn-danger" type="button" (click)="deletePlayer(player)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>



</div>
