/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css');

body {
  width: 75vw;
  margin: 0 auto;
}

#manager{


  margin-top: 20px;
  height: 100%;

}

#listmanager {


  margin-top: 20px;
  height: 100%;

}

#addmanager {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  height: 100%;

}

#gamemanager {
  border: 2px solid black;
  padding: 20px;
  margin: 0 auto;
  height: 100%;

}


